*{padding: 0;margin:0;}
a{text-decoration:none;color: #11537F}
a:hover{color:#16CE3B}
body{background-color:#E9F3F6;}
.wrap{
    width: 1280px;
    margin: 0 auto;
}

button,input{outline: none;}
header{width: 100%;background-image: url('../img/swhbanner.jpg');background-position: center center;height: 250px;background-size: cover;text-align: center}
header h1{color: #FFF;padding-top: 120px;letter-spacing: 1px;}
header p {color: #CCC; font-size: 24px;margin-top: 15px }
.content{background-color: #FFF;padding-top: 40px;margin-bottom: 45px;}
.content-left{width: 985px;border-right: 1px dotted rgba(0,0,0,0.3); padding-right: 15px;display: inline-block;}
.commodity-all{display: inline-block;}
.commodity-top{width: 100%;margin-bottom: 30px;padding-left: 15px;overflow: hidden;}
.commodity-top .commodity-sort-item{float: right;margin-right: 30px;line-height: 27px;}
.commodity-top .commodity-sort-item a{font-size: 18px;}
.commodity-top .commodity-sort-item i{font-style: normal;}
.commodity-top .commodity-sort-item input{height: 25px;padding: 0 10px;width: 100px;border-radius: 15px; border: 1px solid #CCC;}
.commodity-top .commodity-sort-item button{background-color: #1EBFCB;width: 55px;height: 27px;border: none;border-radius: 5px;color:#EAEAEA;cursor: pointer;}
.commodity-top .commodity-all{font-size: 24px;color:##06699B;}
.commodity-list{padding-left: 20px;}
.commodity-item{overflow:hidden;border:1px solid #CCC;width: 300px;display:inline-block;margin-bottom: 35px;border-radius: 20px;box-shadow: 0 0 7px rgba(0,0,0,0.5);}
.commodity-item:nth-child(3n-1){margin-right: 20px;margin-left:20px;}
.commodity-item img{width: 100%;height: 220px;cursor: pointer;}
.commodity-item .commodity-detail{padding: 10px 10px;border-top:1px solid #CCC;height: 39px;}
.commodity-item .commodity-detail .commodity-add{border:none;background-color: #FFF;height: 40px;width: 40px;float: right;}
.commodity-item .commodity-detail .commodity-add i{cursor: pointer;margin-left: 5px;border:none;width: 32px;height: 32px;display: block;background:url('../img/add.png') center no-repeat;}
.commodity-item .commodity-detail .commodity-name{display: inline-block;width:120px;line-height: 40px;border-right: 1px dotted #808080;padding-left: 10px;font-size: 16px;}
.commodity-item .commodity-detail .commodity-name .commodity-name-icon{display: inline-block;width: 16px;height: 16px;background:url("../img/commodity.png") center no-repeat;margin-right: 8px;}
.commodity-item .commodity-detail .commodity-amount{display: inline-block;width:85px;line-height: 40px;border-right: 1px dotted #808080;margin-left: 5px;}
.commodity-item .commodity-detail .commodity-amount .commodity-amount-icon{display: inline-block;width: 16px;height: 16px;background:url("../img/money.png") center no-repeat;margin-right: 8px;font-size: 16px;}
.commodity-button{overflow: hidden; text-align: center;padding-bottom: 45px;}
.commodity-button button{cursor: pointer;border:none; width: 100px;height: 40px;margin: 0 15px;background-color: #727272;border-radius: 15px;color: #BDBDBD}
.commodity-button .hover:hover{background-color: #000000;color: #FFF}


.content-right{display: inline-block;vertical-align: top;width:260px;}
.list-header a{line-height: 30px;}
.list-item{width: 100%;height: 45px; overflow: hidden;line-height: 45px;}
.list-title{font-size: 20px;border-top:1px solid #5F5454;border-bottom:1px solid #5F5454;line-height: 45px;}
.list-item .list-content-name{width: 120px;display: inline-block;}
.list-item .list-content-amount{display: inline-block;width: 50px;}
.list-item .list-content-number{display: inline-block;width:40px;}
.list-item .list-item-minus{float: right;color: #525252;font-size: 24px;}
.list-item .list-item-add{float: right;color: #525252;font-size: 24px;margin-right: 5px;}
.list-item a:hover{color: #32BFF4}
.list-title .list-content-name{width: 100px;}
.list-all{line-height: 30px;border-top: 1px solid #5F5454}
.list-all span{display: inline-block;width: 120px;}
.list-all div{display: inline-block;}
#submit{width: 100%;height: 30px;  margin-top: 15px;font-size: 18px; cursor: pointer;}
.list-content.success{color:green;font-size: 60px;}
.list-content.error{color:red;font-size: 60px;}